<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $page_title; ?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../../css/authorize_form.css" type="text/css">
    </head>
    <body>
        <div class="main-layer">
            <div class="wrapper">
                <div class="header-layer">
                    <div class="header-logo">
                    </div>
                    <div class="header-label">
                    </div>
                </div>
                <div class="body-layer">
                    <div class="auth-layer">
                        <form method="post" action="authorize.php?action=login">
                            <input type="hidden" name="action" value="authorize" />
                            <div class="auth-label element-label">E-mail</div>
                            <div><input type="text" name="login" value="<?php echo $login ?>" id="login" class="auth-input element-input" /></div>
                            <div class="auth-label element-label">Пароль</div>
                            <div><input type="password" name="pass" id="pass" class="auth-input element-input" /></div>
                            <br />
                            <div><input type="submit" name="auth_button" value="Выполнить вход" id="auth_button" class="auth_submit element-button" /></div>
                            <br />
                            <div class="auth-link"><a href="" class="link">Регистрация</a></div> 
                        </form>
                    </div>
                    <div class="info-layer">
                        <?php
                        if (!empty($error_message)) { ?>
                            <div class="error_message"><?php echo $error_message; ?></div>
                        <?php } ?>
                        <h1>Добро пожаловать</h1>
                        <b>Project Manager</b> - удобный инструмент для управления проектами.
                        <br />
                        <br />
                        <div class="info-group">
                            <div class="info-image info-image-new-project"></div>
                            <div class="info-text"><b>Создай и управляй своим проектом</b><br />
                                - определи задачи проекта <br />
                                - набери команду<br />
                                - контролируй выполнение задач<br />
                                - принимай выполненную работу</div>
                        </div>
                        <div class="info-group">
                            <div class="info-image info-image-team"></div>
                            <div class="info-text"><b>Организуй свою команду</b><br />
                                - создай свою собственную проектную команду<br />
                                - открой вакансии<br />
                                - объяви вознаграждение<br />
                                - управляй участниками команды</div>
                        </div>
                        <div class="info-group">
                            <div class="info-image info-image-search"></div>
                            <div class="info-text"><b>Найди проект</b><br />
                                - найди проект который подходит тебе<br />
                                - отправь заявку на участие<br />
                                - получай вознаграждение за выполненную работу
                            </div>
                        </div>
                        <div class="info-group">
                            <div class="info-image info-image-earth"></div>
                            <div class="info-text"><b>Не важно где ты сейчас</b><br />
                                - используй планшет, за чашкой кофе в кафе<br />
                                - выполняй работу на ноутбуке, лёжа на диване<br />
                                - используй офисный компьютер
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_layer">
                <div class="copy_layer">&copy; Калашников Антон, 2015</div>
            </div>
        </div>
    </body>
</html>
