p {
    padding-bottom: 5px;
}

.sf-catalog-settings-area {
    font-size: 15px;
}

.sf-button {
    height: 33px;
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    margin: 0 8px 0 8px;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background-color: #fff;
    text-align: center;
}

.sf-button:hover {
    cursor: pointer;
    background-color: #eee;
}

.sf-button a {
    text-decoration: none;
    color: #000;
    float: left;
    padding: 8px 0 0 0;
    min-width: 10px;
}

.sf-image-button {
    height: 33px;
    border: 1px solid #999;
    border-radius: 5px;
    float: left;
    margin: 0 20px 0 0;
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: 13px;
    background-color: #fff;
}

.sf-catalog-setting-buttons {
    height: 55px;
}

.sf-image-button-icon {
    width: 32px;
    height: 32px;
    float: left;
}

.sf-image-button a {
    text-decoration: none;
    color: #000;
    float: left;
    padding: 8px 0 0 8px;
}

.sf-image-button:hover { 
    cursor: pointer;
    background-color: #eee;
}

.add-catalog-group {
    background-image: url(/engine/components/CatalogAdministrate/images/orange-folder.png);
}

.add-catalog-item {
    background-image: url(/engine/components/CatalogAdministrate/images/catalog.png);
}

.save-catalog-item {
    background-image: url(/engine/components/CatalogAdministrate/images/confirm.png);
}

.cancel-catalog-item {
    background-image: url(/engine/components/CatalogAdministrate/images/cancel.png);
}

.sf-catalog-group-not-found {
    padding: 30px;
}

/* Add Group Form ----------------------------------------------------------- */
.sf-catalog-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: none;
}

.sf-catalog-background-grey {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

form {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2100;
    background-color: #fff;
    display: none;
    border: 1px solid #999;
    border-radius: 5px;
}

#SFGroupForm {
    width: 620px;
    height: 330px;
}

#SFCatalogForm {
    width: 620px;
    height: 410px;
}

.sh-catalog-frame {
    display: block;
}

.sh-catalog-form {
    padding: 20px;
}

.sf-catalog-error-box {
    border: 1px solid #cd0a0a;
    border-radius: 5px;
    background-color: #ec6166;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: none;
}

.sf-catalog-label {
    font-size: 15px;
    font-weight: bold;
    padding: 8px 0 8px 0;
}

.sf-input-frame {
    width: 100%;
    padding: 10px;
}

.sf-input {
    padding: 7px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #eee;    
}

.sf-select {
    padding: 7px 0 7px 0;
}

select {
    padding: 6px;
    border-radius: 5px;
    outline: none;
    background-color: #eee;
    color: #5a5a5a;
    font-size: 15px;
}

option {
    height: 40px;
    background-color: #eee;
    color: #5a5a5a;
    font-size: 15px;
}

input[type="text"] {
    margin: 0px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #eee;
    color: #5a5a5a;
    font-size: 15px;
}
textarea {
    min-height: 60px;
    margin: 0px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #eee;
    color: #5a5a5a;
    font-size: 15px;
}

.sf-catalog-footer {
    padding: 20px 0 0 0;
    height: 45px;
}

.sf-catalog-group-item {
    padding: 5px;
    height:40px;
    width: 300px;
}

.sf-catalog-group-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sf-catalog-group-title {
    padding: 8px 10px 5px 40px;
}

/* Catalog Item --------------------------------------------------------------*/
.sf-catalog-navigation {
    height: 45px;
}

.sf-catalog-navigator-spacer {
    width: 6px;
    float: left;
    text-align: center;
    padding: 13px 0 0 0;
}

.sf-catalog-navigator-bolder {
    font-weight: bold;
}

.sf-catalog-item {
    padding: 5px 5px 5px 40px;
    height:40px;
    width: 300px;
}

.sf-catalog-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sf-catalog-title {
    padding: 8px 10px 5px 40px;
}
